@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/G/01/adt/hiring/amazonember.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/G/01/adt/hiring/amazonember.woff)
      format("woff");
}
html,
body {
  position: relative;
  margin: 0px auto;
  background-color: #333333;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Amazon Ember";
}

body {
  max-width: 800px;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.widget {
  position: relative;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 500px;
  height: 300px;
  text-align: center;
  line-height: 90px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    inset 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: #2a292a;
  display: flex;
  justify-content: center;
}

.widget img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links {
  text-align: center;
}

/* Zoom */
.widget-zoom {
  overflow: hidden;
}

.widget-zoom-img {
  min-height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.widget-zoom-img:hover {
  opacity: 1;
}

/* interaction icons */
.js-enabled-widget-zoom:before,
.js-enabled-widget-zoom:hover:after {
  content: url("./i-zoom.svg");
  display: inline-block;
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  z-index: 2;
  line-height: 0;
  pointer-events: none;
}

.js-enabled-widget-zoom:hover:after {
  content: attr(data-zoom-amount);
  background-color: white;
  border-radius: 50%;
  color: black;
  line-height: 1.5;
  width: 25px;
  height: 25px;
}

.js-enabled-widget-zoom:hover {
  cursor: url("./i-zoom.svg"), auto;
}

/* image text */
.widget-zoom-img-tag {
  text-anchor: middle;
  fill: white;
  font-size: 2em;
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
  pointer-events: none;
}

.widget-zoom-img-tag-group {
  opacity: 0;
}

.widget-zoom-img-tag-group.display {
  opacity: 1;
}
